* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 50px;
    padding: 30px;
}

.full-calculator {
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}



