* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e7e7e3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1000px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color:#fff ;
    position: fixed;
}

.logo-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    background: linear-gradient(rgb(0, 128, 68), rgb(0, 255, 60));

}

.logo-text .logo-header {
    font-size: 18px;
    font-weight: bolder;
}

.logo-text .logo-paragraph {
    font-size: 14px;
    color: #475569;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style-type: none;
    margin-left: 6px;
    padding: 10px 12px;
    cursor: pointer;
}

.nav-list li a {
    text-decoration: none;
    font-size: 16px;
    color: #475569;
    font-weight: bold;
}

.nav-list li .active {
    background-color: #E6FFFB;
    padding: 10px 12px;
    color: #0f7e6e;
    border-radius: 20px;
    border: 1px solid #0f7e6e;
}

.nav-list li:hover {
    background-color: #e1e7f090;
    border-radius: 20px;
    color: #000000a9;
}


.hamburger {
    display: none;
}


/* hero section */
.hero-section {
    width: 100%;
    height: 70vh;
    background-image:
        linear-gradient(rgba(37, 35, 62, 0.653), rgba(13, 12, 12, 0.881)),
        url('../images/hetauda.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.hero-section {
    display: flex;
    color: #fff;
}

.content-hero-section {
    margin: 160px 120px;
}

.hero-section .main-heading {
    font-size: 3.5rem;
    margin-bottom: 6px;
}

.hero-section .para {
    font-size: 20px;
    align-items: center;
    text-align: justify;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}


.cta-btns .btn {
    padding: 16px 18px;
    border-radius: 30px;
    border: none;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.cta-btns .explore {
    background-color: #0EA5A4;
}

.cta-btns .explore:hover {
    background-color: #0ea5a5cb;
}

.cta-btns .planTrip {
    background-color: #ffffff18;
    border: 1px solid #fff;
}

.cta-btns .planTrip:hover {
    background-color: #ffffff48;
}

.messages {
    margin-top: 25px;
    color: #000;
}


.messages .message {
    padding: 8px 14px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #475569;
}

.quick-highlights {
    display: flex;
    margin: 100px 120px;
    justify-content: space-between;
}

.heading-text {

}

.heading-text h2 {
    font-size: 2rem;
}

.heading-text p {
    color: #475569;
    margin-top: 10px;
}
.hyperlink-see-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hyperlink-see-all a {
    font-size: 19px;
    font-weight: 600;
    color: #475569;
    text-decoration: none;
    padding: 15px 12px;
    background-color: #f3f3f3c9;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.449);
}

.hyperlink-see-all a:hover{
    background-color: #e6fffb91;
}

.main-div {
    display: flex;
    flex-direction: column;
}

.grid-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 160px;
    padding: 0px 100px;
    margin-top: 30px;

}

.grid-box {
    background-color: #fff;
    width: 290px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.154);
    border-radius: 15px;
    box-shadow: inset;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px 20px;
    
}

.first-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.paragraph {
    color: #475569;
    font-size: 15px;
}

.icon {
    margin-top: 20px;
}

.top-picks-container {

}

.top-picks-hetauda {
    width: 100%;
    height: 70vh;
    background-color:rgb(248, 250, 252);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    border-top: 1px solid rgba(52, 124, 128, 0.342);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.text-top-picks {
    margin-top: 30px;
}

.text-top-picks h2 {
    color: #0F172A;
    font-size: 28px;
    margin-bottom: 15px;
}
.text-top-picks p {
    color: #475569;
}

.hyperlink-show-more{
    margin-top: 50px;
}
.hyperlink-show-more a{
    padding: 14px 15px;
    background-color: #F1F5F7;
    border: 1px solid rgba(0, 0, 0, 0.147);
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.hyperlink-show-more a:hover {
       background-color: #abafb078;
}

.grid-box-content {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid {
    width: 350px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.285);
    border-radius: 20px;
}












/* Media Queries for Nav-Bar */
@media screen and (width<=650px) {
    .nav-list li {
        display: none;
    }

    .hamburger {
        display: block;

    }
}