* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('snow_train.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    flex-direction: column;
    
}

h1 {
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgba(3, 3, 3, 0.539);
    padding: 10px 20px; 
}

#count-el {
    font-size: 3rem;
    padding: 10px 20px;
    background-color: rgb(26, 55, 45);
    margin-top: 20px
}

#increment-btn {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: rgb(140, 11, 11);
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
}

#save-btn {
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    color: #fff;
    background-color: rgba(166, 146, 245, 0.997);
}

#save-el {
    background-color: black;
    padding: 20px;
}