img{
    border: 4px solid #000;
}

button{
    color: #fff;
    background-color: #000;
    margin-top: 5px;
    width: 170px;
}

body{
    background-color: rgba(255, 196, 0, 0.243);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}